:root {
    --main-background-color: #8C8C88;
    --main-font-color: #F2F2F2;
    --buttons-color: #9DA65D;
    --additional-dark: #202426;
    --additional-green: #6C733D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/gray-background.png);
    color: var(--main-font-color);
    font-family: 'Lato', sans-serif;
    overflow: auto;
}

.header__title {
    font-size: 30px;
    padding-top: 30px;
    padding-bottom: 15px;
    text-align: center;
}

.header__text {
    margin-right: 20px;
    margin-left: 20px;
    text-align: center;
}

.section__select {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.select {
    width: 80vw;
    border-radius: 5px;
    border: none;
    background-color: var(--buttons-color);
    color: var(--main-font-color);
    font-size: 20px;
    padding: 5px;
}

.section__image {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    transform: rotate(3deg);
    max-width: 80%;
}

.image {
    border: 10px solid var(--main-font-color);
    border-bottom: 30px solid var(--main-font-color);
    box-shadow: 5px 5px 5px rgb(99, 97, 97);
    width: 100%;
    height: auto;
}

.section__image p {
    position: absolute;
    color: var(--buttons-color);
    bottom: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 55px;
    font: 400 18px/1 'Kaushan Script', cursive;
}

.drawing-pin {
    background-image: url("images/drawing-pin.-small.png");
    width: 30px;
    height: 30px;
    position: absolute;
    top: 55px;
    left: 20px;
}

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100vw;
    padding: .5em;
    background-color: var(--buttons-color);
}

@media (min-width: 586px) {
    .header,
    .select {
        margin-left: auto;
        margin-right: auto;
        width: 70vw;
    }

    .header__text {
        font-size: 20px;
    }

    .section__image{
        max-width: 70%;
    }

    .drawing-pin {
        background-image: url("images/drawing-pin.png");
        width: 50px;
        height: 50px;
    }
}


@media (min-width: 900px) {

    body {
        font-size: 1.2em;
    }

    .header__title {
        font-size: 50px;
    }

    .header__text {
        font-size: 25px;
    }

    .select {
        width: 60vw;
        font-size: 30px;
        border-radius: 5px;
        margin-bottom: 0;
    }

    .image {
        border: 15px solid var(--main-font-color);
        border-bottom: 50px solid var(--main-font-color);
    }

    .section__image p {
        font-size: 30px;
        padding-bottom: 60px;
    }

    .section__image{
        max-width: 60%;
    }

}
